/* Estilo geral da seção de experiências */
#experiencias {
    background-color: transparent; /* Ajustado para transparente */
    color: var(--corBranco);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#experiencias::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    z-index: -1;
}

/* Estilo do h1 da seção de experiências */
#experiencias h1 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-size: var(--fonteTitulo);
    margin-bottom: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
    color: var(--roxoEscuro);
}

/* Linha e animação ao passar o mouse no h1 da seção de experiências */
#experiencias h1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0; /* Ajustado para alinhar ao início do h1 */
    background-color: #F47C7C;
    transition: width 0.3s ease, left 0.3s ease;
}

#experiencias h1:hover::before {
    width: 100%;
}

/* Estilo do contêiner de experiências */
.experienciasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.experienciasContainer > div {
    width: 48%;
    height: 200px;
    background-color: var(--roxoMedio);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    padding: 30px;
    border-top: 5px solid var(--roxoClaro);
    border-radius: 30px;
    background: linear-gradient(130deg, var(--roxoEscuro) 0%, var(--roxoMedio) 50%, var(--roxoClaro) 100%);
    transition: all 0.5s;
    z-index: 1;
}

/* Efeito de zoom ao passar o mouse no contêiner de experiências */
.experienciasContainer > div:hover {
    transform: scale(1.2);
}

/* Estilo do título dentro do contêiner de experiências */
.experienciasContainer > div .experienciaDetalhes h2 {
    font-family: 'Crimson Text', serif;
    font-size: var(--fonteSubtitulo); /* Ajustado para usar variável */
    color: var(--roxoEscuro);
}

/* Estilo dos parágrafos dentro do contêiner de experiências */
.experienciasContainer > div .experienciaDetalhes p {
    font-family: 'Crimson Text', serif;
    font-size: 21px; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0; /* Remove a margem padrão dos parágrafos */
    text-align: center; /* Justifica o texto do parágrafo */
    color: var(--roxoEscuro);
}

/* Estilo dos links dentro do contêiner de experiências */
.experienciasContainer > div .experienciaDetalhes a {
    color: var(--corBranco);  
    border: 2px solid var(--roxoClaro);
    border-radius: 30px;
    padding: 10px 20px; /* O primeiro valor atua na vertical e o segundo na horizontal. */
    display: inline-block; /* Vai fazer com que o objeto fique em linha e não se sobreponha sobre os demais. */
    text-transform: uppercase; /* Transforma o texto todo em caixa alta. */
    margin-top: 20px;
    background-color: transparent;
}

/* Estilos do botão Saiba Mais */
.saiba-mais-btn {
    background-color: #4CAF50; /* Cor do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de pointer ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilos do card explicativo */
.card {
    display: none; /* Oculta o card por padrão */
    position: fixed; /* Fica fixo na tela */
    top: 50%; /* Posiciona no centro vertical */
    left: 50%; /* Posiciona no centro horizontal */
    transform: translate(-50%, -50%); /* Centraliza o card */
    width: 80%; /* Largura do card */
    max-width: 600px; /* Largura máxima */
    background-color: white; /* Cor do fundo do card */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do card */
    z-index: 1000; /* Garante que o card fique acima de outros elementos */
}

/* Estilo do conteúdo dentro do card */
.card-content {
    position: relative; /* Para posicionar o botão de fechar */
}

/* Estilo do botão de fechar do card */
.close-btn {
    position: absolute; /* Posiciona o botão de fechar no canto superior direito */
    top: 10px; /* Margem do topo */
    right: 10px; /* Margem da direita */
    font-size: 24px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de pointer ao passar o mouse */
}
