#habilidades {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

/* Sombra na margem superior */
#habilidades::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  z-index: -1;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}


#habilidades h1 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: var(--fonteTitulo);
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  display: inline-block;


}


#habilidades h1::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;

  background-color: #F47C7C;
  transition: width 0.3s ease, left 0.3s ease;

}

#habilidades h1:hover::before {
  width: 100%;
}










#habilidades p {
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  margin: 30px 0 50px 0;
  /* Ajuste do espaço abaixo do parágrafo */
  font-size: 23px;
  line-height: 1.6;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #fff;
  /* Fundo claro para os cartões */
  border: 2px solid #ccc;
  /* Borda sutil para definir o cartão */
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #333;
  /* Texto escuro para contraste */
  position: relative;
  max-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra leve */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Transição suave */
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Sombra mais pronunciada no hover */
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.skill-info {
  margin-top: 10px;
}

.skill-info h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  /* Fundo escuro para a descrição */
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  font-size: 12px;
  text-align: left;
}

.skill-card:hover .tooltip {
  display: block;
}

#habilidades>img {
  width: 20%;
  height: auto;
  max-height: 400px;
  margin-top: 30px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#habilidades>img:hover {
  transform: translateY(-10px);
}