/* Seção Início */
#inicio {
    width: 100%;
    background: none;
    color: var(--corBranco);
    padding-top: 150px;
    padding-bottom: 100px;
    border-radius: 10px;
}

/* Apresentação da Seção Início */
.inicioApresentacao {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
}

.inicioApresentacao .gif-programadora {
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.inicioApresentacao .gif-programadora:hover {
    transform: scale(1.1);
}

.inicioApresentacao span,
.inicioApresentacao h1,
.inicioApresentacao p {
    transition: transform 0.3s ease;
}

.inicioApresentacao span:hover,
.inicioApresentacao h1:hover,
.inicioApresentacao p:hover {
    transform: translateY(-10%);
}

.inicioApresentacao span {
    font-size: 23px;
    font-family: 'Crimson Text', serif;
    color: var(--roxoEscuro);
}

.inicioApresentacao span b {
    color: var(--rosaClaro);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.inicioApresentacao h1 {
    font-size: 48px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    animation: slideInFromLeft 1.5s ease-out forwards;
    color: var(--roxoEscuro);
}

.inicioApresentacao h1 b {
    color: var(--roxoEscuro);
    border: 1px solid var(--corBranco);
    border-radius: 56% 44% 63% 37% / 47% 39% 61% 53%;
    padding: 0px 20px;
    -webkit-border-radius: 56% 44% 63% 37% / 47% 39% 61% 53%;
    -moz-border-radius: 56% 44% 63% 37% / 47% 39% 61% 53%;
    -ms-border-radius: 56% 44% 63% 37% / 47% 39% 61% 53%;
    -o-border-radius: 56% 44% 63% 37% / 47% 39% 61% 53%;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.inicioApresentacao p {
    font-size: 18px;
    font-family: "Source Code Pro", monospace;
    text-align: left; /* Alinha o texto à esquerda */
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: 0.2s;
    color: var(--roxoEscuro);
}

/* Seção Sobre */
.inicioSobre {
    width: 100%;
    max-width: 700px; /* Largura máxima ajustada para um pouco mais de espaço */
    text-align: left; /* Garante que o texto dos filhos esteja alinhado à esquerda */
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.inicioSobre h2 {
    font-family: "Cardo", serif;
    font-size: var(--fonteTitulo);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease;
    color: var(--roxoEscuro);
}

/* Efeito no h2 da seção Sobre */
.inicioSobre h2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #F47C7C;
    transition: width 0.3s ease, left 0.3s ease;
}

.inicioSobre h2:hover {
    color: #A14D2A; 
    font-size: calc(var(--fonteTitulo) + 2px); /* Aumenta levemente o tamanho da fonte */
    text-shadow: 0 0 8px rgba(165, 147, 224, 0.7);
}

.inicioSobre h2:hover::before {
    width: 100%;
    left: 0;
}

.inicioSobre h3 {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 40px; /* Ajusta a margem inferior para um pouco mais de espaço */
    color: var(--roxoEscuro);
}

.inicioSobre p {
    font-family: 'Crimson Text', serif;
    font-size: 24px; /* Ajusta o tamanho da fonte para ser um pouco maior */
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
    width: 100%; /* Ajusta a largura do parágrafo */
    max-width: 600px; /* Largura máxima ajustada */
    padding: 0 10px; /* Adiciona um padding interno se necessário */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
    color: var(--roxoEscuro);
}
