/* Seção Projetos */
#projetos {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  /* Bordas arredondadas */
  position: relative;
  /* Para o pseudo-elemento */
  z-index: 1;
  /* Para manter o #projetos acima do conteúdo */
}

/* Sombra na margem superior */
#projetos::before {
  content: '';
  /* Elemento vazio para criar a sombra */
  position: absolute;
  top: -6px;
  /* Posiciona o pseudo-elemento na margem superior */
  left: 0;
  width: 100%;
  height: 6px;
  /* Altura da sombra */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  /* Sombra */
  border-radius: 10px 10px 0 0;
  /* Bordas superiores arredondadas */
  z-index: -1;
  /* Sombra atrás do conteúdo */
}

/* Estilo do título da seção de projetos */
#projetos h1 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: var(--fonteTitulo);
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

  position: relative;

  display: inline-block;
}

#projetos h1::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  /* Ajustado para alinhar ao início do h1 */
  background-color: #F47C7C;
  transition: width 0.3s ease, left 0.3s ease;
}

#projetos h1:hover::before {
  width: 100%;
}



/* Estilo dos contêineres de projetos */
.projeto {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  gap: 20px;
  /* Espaçamento entre a imagem e o conteúdo */
}

/* Estilo do título e do span dos projetos */
.projeto span,
.projeto h2 {
  font-family: 'Crimson Text', serif;
}

.projeto span {
  font-size: 22px;
  color: var(--roxoClaro);
}

.projeto h2 {
  font-size: var(--fonteSubtitulo);
}

/* Estilo de texto genérico */
.lorem-texto {
  color: #F4C6C6;
}

/* Estilo dos links de projeto */
.projeto a {
  color: var(--corBranco);
  background-color: var(--roxoMedio);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid var(--roxoEscuro);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
  /* Transições suaves */
}

.projeto a:hover {
  transform: translateY(-5px);
  /* Eleva o link ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra ao passar o mouse */
  font-size: 1.2rem;
  /* Aumenta o tamanho do texto ao passar o mouse */
}

/* Estilo do fundo desfocado */
.fundoDesfocado {
  padding: 25px;
  background-color: #251C31;
  border-radius: 10px;
  margin-bottom: 20px;
}

.fundoDesfocado p {
  font-family: 'Crimson Text', serif;
  color: #F4C6C6;
  /* Cor do texto da descrição */
  font-size: 20px;
}

/* Estilo da imagem do projeto */
.projeto img {
  width: 45%;
  /* Largura da imagem */
  height: auto;
  /* Mantém a proporção da imagem */
  border-radius: 15px;
  /* Bordas arredondadas */
  object-fit: contain;
  /* Ajusta a imagem dentro do contêiner sem cortar */
  display: block;
  /* Remove espaço extra ao redor da imagem */
  margin: 0;
  /* Remove margens acima e abaixo da imagem */
  padding: 0;
  /* Remove padding extra */
  border: none;
  /* Remove bordas */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Sombra aplicada permanentemente */
}

.projeto img:hover {
  transform: translateY(-5px);
  /* Eleva a imagem ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Sombra ao passar o mouse */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Transições suaves */
}

/* Estilo do título dos projetos */
.titulo-projetos {
  font-size: var(--fonteTitulo);
  text-align: left;
  margin-bottom: 50px;
  font-family: "Cardo", serif;
  color: inherit;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* Estilo específico para links do GitHub e site */
.projeto .github-link,
.projeto .site-link {
  font-size: var(--fonteDetalhes);
  /* Tamanho do texto */
}

.projeto .github-link:hover,
.projeto .site-link:hover {
  font-size: 1.2rem;
  /* Aumenta o tamanho do texto ao passar o mouse */
}